.tablepress-network-tools {
	line-height: 115%;
}

.tablepress-case-page .column-1,
.tablepress-case-page .column-2,
 {
	padding: 1px;
}

.tablepress tbody td {
	vertical-align: middle;
	text-align: center;
}

.tablepress .odd td {
	background-color: #eeeeee;
}

.tablepress .even td {
	background-color: #ffffff;
}

.tablepress td,
.tablepress thead th {
	border: 1px solid #000000;
}

.tablepress-case-page {
	line-height: 115%;
}

.tablepress-case-page .column-2 {
	min-width: 80px;
	max-width: 80px;
}

.tablepress-case-page .column-3 {
	min-width: 100px;
	max-width: 100px;
}

.tablepress-case-page .column-5 {
	min-width: 180px;
	max-width: 180px;
}

.tablepress-case-page .column-1 {
	min-width: 203px;
	max-width: 203px;
}

.tablepress-case-page .column-4 {
	min-width: 203px;
	max-width: 203px;
}

.tablepress-case-page .column-1,
.tablepress-case-page .column-2,
.tablepress-case-page .column-3
.tablepress-case-page .column-4,
.tablepress-case-page .column-5,
.tablepress-case-page .column-6 {
	padding: 1px;
}

.tablepress-case-page .row-1 .column-1,
.tablepress-case-page .row-1 .column-2,
.tablepress-case-page .row-1 .column-3,
.tablepress-case-page .row-1 .column-4,
.tablepress-case-page .row-1 .column-5,
.tablepress-case-page .row-1 .column-6 {
	text-align: center;
	padding: 1px;
}

.tablepress-whale-id .row-1 .column-1,
.tablepress-whale-id .row-1 .column-2,
.tablepress-whale-id .row-1 .column-3,
.tablepress-whale-id .row-1 .column-4,
.tablepress-whale-id .row-1 .column-5,
.tablepress-whale-id .row-1 .column-6,
.tablepress-whale-id .row-1 .column-7 {
	text-align: center;
	padding: 1px;
}

.tablepress-whale-id .column-1,
.tablepress-whale-id .column-4 {
	min-width: 95px;
	max-width: 95px;
}

.tablepress-whale-id .column-2 {
	min-width: 80px;
	max-width: 80px;
}

.tablepress-whale-id .column-2,
.tablepress-whale-id .column-5 {
	width: 1px;
}

.tablepress-whale-id .column-7 {
	min-width: 200px;
	max-width: 203px;
}

.tablepress-gear-investigation .column-6 {
	min-width: 150px;
	max-width: 150px;
}

.tablepress-gear-investigation .column-2 {
	min-width: 60px;
	max-width: 60px;
}

.tablepress-gear-investigation .column-5 {
	min-width: 200px;
	max-width: 200px;
}

.tablepress-gear-investigation .column-1 {
	min-width: 105px;
	max-width: 105px;
}

.tablepress-gear-investigation .column-3 {
	min-width: 105px;
	max-width: 105px;
}

.tablepress-gear-investigation .column-4 {
	min-width: 70px;
	max-width: 70px;
}

.tablepress-gear-investigation .column-1,
.tablepress-gear-investigation .column-2,
.tablepress-gear-investigation .column-3,
.tablepress-gear-investigation .column-4,
.tablepress-gear-investigation .column-5,
.tablepress-gear-investigation .column-6,
.tablepress-gear-investigation .column-7 {
	padding: 1px;
}

.tablepress-gear-investigation .column-7 {
	text-align: left;
}

.tablepress-gear-investigation {
	line-height: 115%;
}

.tablepress-gear-investigation .row-1 .column-1,
.tablepress-gear-investigation .row-1 .column-2,
.tablepress-gear-investigation .row-1 .column-3,
.tablepress-gear-investigation .row-1 .column-4,
.tablepress-gear-investigation .row-1 .column-5,
.tablepress-gear-investigation .row-1 .column-6,
.tablepress-gear-investigation .row-1 .column-7 {
	text-align: center;
	padding: 1px;
}